/* O header (seletor) faz parte do cabeçalho*/
header{
    background: gray;
    position: relative;
    height: 60px;
    border-radius: 0px 0px 50px 50px;

}

nav{
    background: gray;
    position: absolute;
    height: 30px; width: 300px;
    right: 100px; left: 10px;
    top: 110px;
    border-radius: 0px 40px 0px 40px;

}

nav ul{
    font-style: italic;
    text-transform: uppercase;
    background: green;
    position: absolute;
    width: 290px; height: 0px;
    left: -30px; right: 0px;
    top: -10px;
}

nav li{
    list-style: none;
    display: inline-block;

}

nav li:hover{
    background: lightblue;
}

article{
    background: gray;
    position: relative;
    height: 550px; width: 600px;
    left: 400px;
    border-radius: 60px 60px;
}

footer{
    background: gray;
    position: relative;
    height: 70px;
    border: none;
    border-radius: 70px 70px 0px 0px;

}

body{
    position: relative;
    height: 200px; width: 1000px;
    left: 100px;
    background: lightblue;

}

#rodape{
    background: blue;
    width: 80px; height: 120px;
    position: relative;
    left: 80px;

}

.rodape{
    background:pink;
    width: 80px; height: 120px;
    position: relative;
    left: 80px;

}